@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?pvm5gj');
	src:url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Icons created with icomoon.io/app */

.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid #065788;
	box-shadow: inset 0 2px #065788;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1920px;
	background: #065788;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.2em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav li.tab-current a {
	color: #065788;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

.icon-narratives:before {
	content: "\e601";
}

.icon-lab:before {
	content: "\e601";
}

.icon-competition:before {
	content: "\e602";
}

.icon-truck:before {
	content: "\e603";
}

.icon-data:before {
	content: "\e600";
}

/* Content */
.content section {
	font-size: 1.25em;
	padding: 0.5em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #065788;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}

.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 33%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 10px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #065788;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #065788;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #10689a;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.button_ok {
	background: #00FF33;
	border: none;
	color: #000000;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.button_ko {
	background: #FF0000;
	border: none;
	color: #000000;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.field_warning  {
border: 3px solid #FF0000;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}

/* Responsive tables*/

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #065788; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Competition"; }
	td:nth-of-type(2):before { content: "Class"; }
	td:nth-of-type(3):before { content: "Narrative"; }
	td:nth-of-type(4):before { content: "URL"; }
}

@keyframes invalid
{
0% {left:8px;}
10% {left:-8px;}
30% {left:8px;}
60% {left:-8px;}
100% {left:0px;}
}

@-webkit-keyframes invalid /* Safari and Chrome */
{
0% {left:8px;}
10% {left:-8px;}
30% {left:8px;}
60% {left:-8px;}
100% {left:0px;}
}

 input.field_warning
{
animation:invalid .5s;
-webkit-animation:invalid .5s;
box-shadow:0 0 5px 1px #f43841;
}

.nascondi {
display:none !important;
}

input#form_button {
font-size: 0.8EM;
}

input#disclaimer_button {
font-size: 0.8EM;
}

div#blocco_form {
text-align: center;
}

#debug {
text-align: center;
font-size: 20px;
}

.avanzamento {
  position: relative;
  width: auto;
  height: 40px;
  left: 70px; }

ul.avanzaul {
  list-style: none; }
	

.avanzamento li { /* Added this and moved much code to here */
  position: relative; /* this was a key property missing from your code */
  text-indent: 30px;
  height: 50px;
  background-color: #065788;
  display: inline-block;
  /* Dirty IE Hack */
  zoom: 1;
  *display: inline;
  /* margin-right: 30px; Eliminated this */
  margin-left: 30px;
  padding: 10px 10px 10px 30px; /* tweaked this */
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}


/* tweaked various things below here */

li.passoattuale:first-child:after, li.dafare:after, li.fatto:after, li.now:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 30px solid #065788;
    border-bottom: 25px solid transparent;
    margin: -10px 90px 0 10px; 
}
li.passoattuale:last-child:before, li.dafare:before, li.fatto:before, li.now:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 25px solid transparent;
    border-left: 30px solid white;
    border-bottom: 25px solid transparent;
    margin: -10px 0px 0 0px; 
}

li.passoattuale:first-child {
    padding-left: 10px;
    margin-left: 0;
}
li.passoattuale:last-child {
    padding-right: 30px;
}

li.fatto {
  background-color: #065788; 
  color: #065788;}
  li.fatto:after {
    border-left: 30px solid #065788; }

li.dafare {
  background-color: #c42c00; 
  color: #c42c00}
  li.dafare:after {
    border-left: 30px solid #c42c00; }
	
li.now {
  background-color: #065788; }

@media screen and (max-width: 70em) {
.avanzamento {
display:none;
}
  }
  
::-webkit-input-placeholder {
   color: rgb(6, 87, 136);
   opacity: 0.2; 
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(6, 87, 136);  
   opacity: 0.2; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(6, 87, 136); 
   opacity: 0.2;    
}

:-ms-input-placeholder {  
   color: rgb(6, 87, 136);
   opacity: 0.2;   
}

.logout {
    float: right;
}